
<!-- Footer -->

<footer class="text-center">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <a href="{{ path('mbcs') }}" data-toggle="tooltip" title="HAUT DE PAGE">
            <span class="glyphicon  glyphicon-chevron-up"></span>
        </a>
        <br>

        <a class="text-info" href="{{ path('cgv') }}"> Mentions légales</a> - (c) MBCS Marseille 2016
    </nav>
</footer>
<!-- /Footer -->

