
<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="page-header">Catalogue Ventes</h3>

        <div class="form-group col-md-3">
            <label class="col-md-3 control-label">Marque</label>
            <select class="form-control" name="marque">
                <option value="">Tout</option>
                <option value="audi">Audi</option>
                <option value="bmw">BMW</option>
                <option value="renault">Renault</option>
                <option value="peugeot">Peugeot</option>
                <option value="nissan">NISSAN</option>
            </select>
        </div> <!-- form group-->

        <div class="form-group col-md-3">
            <label class="col-md-3 control-label">Game</label>
            <select class="form-control" name="game">
                <option value="">Tout</option>
                <option value="A1">A1</option>
                <option value="A3">A2</option>
                <option value="RS8">RS8</option>
                <option value="Quatrro">QUATRO</option>
                <option value="Q7">Q7</option>
            </select>
        </div> <!-- form group-->

        <div class="form-group col-md-3">
            <label class="col-md-3 control-label">Version</label>
            <select class="form-control" name="version">
                <option value="">Tout</option>
                <option value="1.0 TFSi">1.0 TFSi</option>
                <option value="1.4 TFSI Ambition">1.4 TFSI Ambition</option>
                <option value="3.0 V6 Clean TDI">3.0 V6 Clean TDI</option>
                <option value="2.0 SYNTRONIC 125">2.0 SYNTRONIC 125</option>
                <option value="2.5 ULTRA BLUE 135">2.5 ULTRA BLUE 135</option>
            </select>
        </div> <!-- form group-->

    </div> <!-- panel body-->
</div> <!-- panel body-->