<h2>Flitrer:</h2>
<ul class="h6">
    <li>Parque:
        <div class="checkbox"><label><input type="checkbox" value="">Neuf</label></div>
        <div class="checkbox"><label><input type="checkbox" value="">Occasion</label></div>
    </li>

    <li>

        <div class="form-group">
            <label class="control-label h6">Prix max:</label>
            <select class="form-control" name="prix">
                <option value="">tout</option>
                <option value="3">3.000€</option>
                <option value="4">4.000€</option>
                <option value="5">5.000€</option>
                <option value="6">6.000€</option>
                <option value="7">7.000€</option>
                <option value="8">8.000€</option>
                <option value="9">9.000€</option>
                <option value="10">10.000€ et +</option>
            </select>
        </div> <!-- form group-->

    </li>
    <li>
        <ul>Carburant:
            <li><div class="checkbox"><label><input type="checkbox" value="">Esence</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" value="">Diesel</label></div></li>
            <li><div class="checkbox disabled"><label><input type="checkbox" value=""disabled>GPL/GNV</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" value="">Biocarburant</label></div>            </li>
            <li><div class="checkbox"><label><input type="checkbox" value="">Electrique</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" value="">Hybride</label></div></li>
        </ul>
    </li>

    <li><ul>Nombre de portes:
            <li><div class="checkbox"><label><input type="checkbox" value="">2</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" value="">3</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" value="">4-5</label></div></li>
        </ul>
    </li>
    <li><ul>Nombres de places:
            <li><div class="checkbox"><label><input type="checkbox" value="">2</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" value="">4-5</label></div</li>
            <li><div class="checkbox"><label><input type="checkbox" value="">6-7-8</label></div</li>
        </ul>
    </li>
    <li><ul>Boites de vitesse:
            <li><div class="checkbox"><label><input type="checkbox" value="">Manuelle</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" value="">Automatique</label></div></li>
        </ul>
    </li>
</ul>