<!-- recherche   -->

<div class="form-group">

    <label for="marque">Marque:</label>
    <select class="form-control" id="marque">
        <option>Renault</option><option>Peugeot</option><option>BMW</option><option>WOLKSWAGEN</option>
        <option>Citroen</option><option>Opel</option><option>Fiat</option><option>Mercedes</option>        
    </select>

    <label for="modele">Modèle:</label>
    <select class="form-control" id="modele">
        <option>Clio</option><option>A1</option><option>A2</option><option>A4</option>
        <option>Espace</option><option>C1</option><option>C2</option><option>C4</option>
        <option>Megane</option><option>525tds</option><option>325td</option><option>Golf</option>
        <option>Laguna</option><option>Corsa</option><option>Zafira</option>
    </select>

    <label for="energie">Energie principale.:</label>
    <select class="form-control" id="energie">
        <option>Essence</option><option>Diesel</option><option>Gaz</option>
        <option>Electrique</option><option>Hybride</option>
    </select>

    <label for="annee">Année max.:</label>
    <select class="form-control" id="annee">
        <option>2016</option><option>2015</option><option>2014</option><option>2013</option>
        <option>2012</option><option>2011</option><option>2010</option><option>2009</option>
        <option>2008</option><option>2005</option><option>2004</option><option>2003</option>
        <option>2002</option><option>2001</option><option>2000</option>
    </select>

    <label for="kilo">Kilométrage max.:</label>
    <input class="form-control input-sm" id="kilo" type="text">
    <label for="prix">Prix max.:</label>
    <input class="form-control input-sm" id="prix" type="text">
    <button type="submit" class="btn btn-primary">Go!</button>
</div> 






<!-- recherche ------------------------------------------------------------------------------>

