{% extends ':layout:base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'css/catalogue.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
    
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p><h4>Recherche:</h4></p>
                <p>
                    Marque:
                    Modele:
                    Energie:
                    Kilométrage:
                    Année:
                    Prix:
                </p>
            </div>

            <div class="col-md-9">                
                <div class="row">
                    <div class="col-md-12">                        
                        {# carousel #}
                        {% include 'MbcsBundle:Visiteur/Modules:catalogueCarousel.html.twig' %}
                    </div>
                </div>
                <div class="row">
                    {# trombi #}
					{% include 'MbcsBundle:Visiteur/Modules:trombi.html.twig' %}                    
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

{% endblock %}
